<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts-organiser</title>
</head>
<body>
    <h1>Contacts Organiser</h1>
    <table>
        <tr>
            <th>First name</th>
            <td>Eli hammond</td>
            <td>Devorah hammond</td> 
        </tr>
        <tr>
            <th>Address</th>
            <td>71 Hacking street</td>
            <td>71 Hacking street</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>07528868226</td>
            <td>07528868222</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>ebaal8226@gmail.com</td>
            <td>elianddevorah@gmail.com</td>
        </tr>
    </table>
</body>
</html>